/* purgecss start ignore */
@tailwind base;

// ..
@tailwind components;

@import 'components/buttons';
@import 'components/validation';
@import 'components/inputs';
@import 'components/alerts';
@import 'components/badge';
@import 'components/datatables';

@layer base {
    @font-face {
        font-family: 'Mont';
        src: url('../fonts/Mont-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Mont';
        src: local('☺'), url('../fonts/Mont-Bold.woff') format('woff');
        font-weight: 600;
        font-style: normal;
    }
    @font-face {
        font-family: 'Mont';
        src: local('☺'), url('../fonts/Mont-Heavy.woff') format('woff');
        font-weight: 800;
        font-style: normal;
    }

    body {
        @apply font-mont leading-relaxed;
    }
}

.pagination {
    @apply flex items-center #{!important};

    .page-link {
        @apply -mt-px border-t-2 border-transparent pt-4 px-4 inline-flex items-center text-sm leading-5 font-medium text-gray-500 transition ease-in-out duration-150 cursor-pointer #{!important};
    }

    .page-link:hover {
        @apply text-purple-600 border-purple-400 #{!important};
    }

    .page-item:first-child .page-link:hover {
        @apply border-white #{!important};
    }

    .page-link:focus {
        @apply outline-none text-gray-700 border-gray-400;
    }

    .active > span {
        @apply text-black font-semibold border-gray-400 #{!important};
    }

    // hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-400 transition ease-in-out duration-150
}

/* purgecss end ignore */
@tailwind utilities;
