.input {
    @apply items-center border border-gray-300 rounded mt-2 py-2 px-4 text-sm;

    &:focus {
        @apply outline-none bg-gray-50;
    }
}

.input-label {
    @apply text-sm text-gray-600;
}

.input-slim {
    @apply py-2;
}

.form-checkbox {
    @apply border-none bg-gray-300 rounded cursor-pointer;
}

[type='checkbox']:checked,
[type='checkbox']:focus
[type='checkbox']:checked:hover,
[type='checkbox']:checked:focus,
[type='checkbox']:focus-visible {
@apply ring-black transition-all duration-300;
background-color: black !important;
}

[type='checkbox']:focus {
    box-shadow: none !important;
    outline: none !important;
}

.form-select {
    @apply border-none bg-gray-200 rounded cursor-pointer;
}
